body {
  margin: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-table .ant-table-cell {
  text-align: center;
}