@font-face {
  font-family: "PretendardB";
  font-style: normal;
  src: url("../fonts/Pretendard-Bold.woff2")
}

@font-face {
  font-family: "PretendardR";
  font-style: normal;
  src: url("../fonts/Pretendard-Regular.woff2")
}

@font-face {
  font-family: "PretendardM";
  font-style: normal;
  src: url("../fonts/Pretendard-Medium.woff2")
}

@font-face {
  font-family: "PretendardL";
  font-style: normal;
  src: url("../fonts/Pretendard-Light.woff2")
}

* {
  font-family: 'PretendardR', sans-serif;
}

body {
  margin: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

/*토스트 알림*/
.Toastify__toast {
  font-size: .825rem
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-table .ant-table-cell {
  text-align: center;
}

.ant-select-dropdown .ant-select-item {
  font-size: 0.825rem;
  line-height: 1.5;
  font-weight: 400 !important;
}

.ant-upload-wrapper .ant-upload-list {
  position: absolute;
  top: 5px;
  left: 8px;
}

.ant-upload-wrapper .ant-upload-drag {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  text-align: left;
}

.ant-upload-wrapper .ant-upload-list .ant-upload-list-item {
  margin: 0 !important;
}

.ant-table-content table {
  table-layout: fixed !important;
}
